@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  background-color: #ea9682;
  font-family: "Balsamiq Sans", sans-serif;
  font-style: normal;
}

button{
  font-family: "Balsamiq Sans", sans-serif;
}

input{
  font-family: "Balsamiq Sans", sans-serif;
}

select{
  font-family: "Balsamiq Sans", sans-serif;
}

.Wrapper {
  position: absolute;
  width: 90%;
  left: 0;
  top: 65px;
  right: 0;
  background: #E5E5E5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 0 auto;
  max-width: 1600px;
}

.main_content{
  justify-content: center;

.socks{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;
  padding-top: 5em;
  border-top: 2px solid #ea9682;
  background-color: #b8dde5;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  margin-left: 5em;
  margin-right: 5em;
}

  h2{
    margin-left: 50px;
    font-size: 28px;
  }
}



.Search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  p{
    opacity: 0.8;

  }

  .Search_bar {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    width: 40%;
    height: 36px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0 4px 16px rgba(26, 31, 22, 0.15);
    border-radius: 13px;
    font-family: "Balsamiq Sans", sans-serif;
  }
}

.search_msg{
  font-size: clamp(0.9rem, 2vw, 1.5rem);
  margin-bottom: 6em;
  margin-top: 5em;
}

.load_more_btn {
  align-items: center;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  font-size: clamp(0.9rem, 2vw, 1.5rem);
  justify-content: center;
  line-height: 28px;
  max-width: 70%;
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: all .2s;
  user-select: none;
  position: relative;
  width: 50%;
  font-family: "Balsamiq Sans", sans-serif;
}

.load_more_btn:active {
  outline: 0;
}

.load_more_btn:hover {
  background-color: rgba(240, 240, 240, 0.71);
  border-color: rgba(0,0,0,.19);
  outline: 0;
}

.load_error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  text-align: center;
  padding: 1rem;
  margin-left: 10vh;
  margin-right: 10vh;
  //background-color: #f9f9f9;
  box-shadow: 0 14px 6px rgba(26, 31, 22, 0.15);
  font-size: clamp(1rem, 2vw, 1.5rem);
  border-radius: 60px;
  border-bottom: 2px solid #ea9682;
}

.load_error_msg {
  color: #ff795e; // Красный цвет для сообщения об ошибке
  font-size: 1.2rem; // Размер шрифта для сообщения об ошибке
  margin: 1rem 0; // Отступы сверху и снизу для сообщения об ошибке
}

.load_error_btn {
  background-color: #8cd1e1;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.load_error_btn:hover {
  background-color: #4b8db9;
}

@media (max-width: 860px) {
  .main_content {
    .socks {
      margin-left: 2em;
      margin-right: 2em;
    }
  }

  .Search{
    .Search_bar{
      width: 60%;
    }
  }

  .load_more_btn {
    width: 100%;
    height: 55px;
  }

  .load_error{
    width: 80%;
    margin-left: 8%;
    margin-right: 10%;
  }
}

@media (max-width: 650px) {
  .load_error{
    max-width: 85%;
    margin-left: 7%;
  }
}

@media (max-width: 500px) {
  .main_content {
    .socks {
      margin-left: 1em;
      margin-right: 1em;
    }
  }
  .Search{
    .Search_bar{
      height: 2em;
    }
  }

  .load_error{
    padding-bottom: 1em;
    margin-left: 5%;
  }

  .load_error_msg{
    font-size: 1rem;
  }

  .load_error_btn {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
  }
}






