body {
  margin: 0;
  font-family: 'Cabin', sans-serif;
  background-color: #ea9682;
}

.Wrapper {
  position: absolute;
  width: 1280px;
  left: 0;
  top: 65px;
  right: 0;
  background: #E5E5E5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 0 auto;
}

.main_content{
  display: flex;
  flex-wrap: wrap;

.socks{
display: flex;
  flex-wrap: wrap;
}

  h2{
    margin-left: 50px;
    font-size: 28px;
  }
}

.Search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  p{
    opacity: 0.8;
  }

  .Search_bar {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    width: 407px;
    height: 36px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0 4px 16px rgba(26, 31, 22, 0.15);
    border-radius: 13px;
  }

}






