body {
  margin: 0;
  font-family: 'Cabin', sans-serif;
  background-color: #ea9682;
}

.Wrapper {
  position: absolute;
  width: 1280px;
  height: 1026px;
  left: 0;
  top: 65px;
  right: 0;
  background: #E5E5E5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 0 auto;
}

.main_content{

.socks{
display: flex;
}

  h2{
    margin-left: 50px;
    font-size: 28px;
  }
}








