.item_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal_overlay{
  position: fixed;
  background-color: rgba(255, 255, 255, 0.47);
  height: 100%;
  width: 100%;
  z-index: 1000;
}

.size_modal_header{
  margin-top: -2em;
  margin-left: 2em;
  display: flex;
  align-items: center;
}

.size_modal_title {
  flex-grow: 1;
  font-size: 1.1em;
  margin-bottom: -0.2em;
}

.size_modal_table {
  font-size: 1em;
  margin-right: 35em;
  margin-bottom: -0.5em;
  text-decoration: underline;
  margin-left: 5em;
}

.size_modal_table:hover{
  color: #757575;
  cursor: pointer;
}

.item_modal_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.size_button_close {
  cursor: pointer;
  margin-top: -75px;
}

.size_modal_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-left: 2em;
}

.size_buttons_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
}

.size_button_wrapper {
  display: flex;
  align-self: flex-start;
}

.size_button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  min-width: 80px;
  &.selected {
    border: 2px solid #fdab9b;
  }
}

.size_quantity {
  margin-left: 2.5em;
  margin-top: -15px;
  font-size: 0.9em;
  text-align: left;
}

.size_modal_description {
  margin-left: 2.6em;
  margin-bottom: -4px;
  font-size: 0.9em;
}

.button_row {
  display: flex;
  justify-content: center;
}

.size_modal_btn_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.size_cart_btn_active {
  background-image: linear-gradient(45deg, #ff795e 0%, #fabd66 51%, #fdab9b 100%);
  background-size: 200%;
  border-radius: 10px;
  border-width: 0;
  box-shadow: #f09819 0 0 14px -7px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 13.3333px;
  font-weight: 700;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: all 0.5s;
  user-select: none;
  flex: 1;
  margin-left: 2em;
  margin-right: 0.7em;
}

.size_cart_btn_active {
  background-color: #fdab9b;
  color: white;
  width: 50%;
}

.size_cart_btn_active:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  transform: scale(0.95);
}

.item_cart_btn_disabled {
  background-color: #cccccc;
  color: #757575;
  cursor: not-allowed;
}

.item_cart_btn_disabled:hover {
  background-color: #cccccc;
  color: #757575;
  cursor: not-allowed;
}

.item_cart_btn_cancel {
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgb(0, 0, 0) 0 0 14px -7px;
  color: #f6f6f6;
  cursor: pointer;
  background-color: rgba(31, 30, 22, 0.62);
  display: block;
  font-size: 13.3333px;
  font-weight: 700;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: all 0.5s;
  user-select: none;
  flex: 1;
  margin: 0 20px;
}

.item_cart_btn_cancel:hover {
  transform: scale(0.95);
}

.item_modal_content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #fff;
  padding: 2rem;
}

.item_modal_details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 2rem;
}

.item_modal_title {
  text-align: center;
  flex-grow: 1;
  font-size: 2em;
}

.item_modal_image {
  width: 30%;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.16);
  padding: 2em;
  border-radius: 10px;
  box-shadow: rgba(31, 30, 22, 1) 1px 1px 20px -5px;
}

.item_modal_description {
  margin-top: 0;
  font-size: 1.3rem;
  max-width: 25em;
}

.item_modal_price {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  color: #e78067;
}

.addToFavorite, .delFromFavorite {
  cursor: pointer;
  width: 34px;
  height: 34px;
  position: relative;

  path {
    transition: stroke 0.3s, fill 0.3s;
    stroke: #000000;
  }

  &:hover {
    path {
      stroke: red;
    }
  }
}

.addToFavorite.active, .delFromFavorite.active {
  path {
    fill: red;
    stroke: red;
  }
}



@media (max-width: 1200px) {
  .item_modal_content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .item_modal_image {
    width: 40%;
    margin-bottom: 2rem;
  }

  .item_modal_details {
    margin-left: 0;
    align-items: center;
  }

  .item_modal_description{
    font-size: 1.5em;
  }

  .item_modal_price {
      font-size: 1.6em;
      max-width: 100%;
  }

}

@media (max-width: 768px) {
  .size_modal_btn_bottom {
    flex-direction: column;
    align-items: stretch;
  }

  .size_cart_btn_active,
  .item_cart_btn_cancel {
    width: 100%;
    margin: 0.5rem 0;
  }

  .item_modal_image {
    width: 50%;
  }

  .item_modal_description{
    font-size: 1.2em;
  }

  .item_modal_price {
    font-size: 1.4em;
    max-width: 100%;
  }

  .item_header{
    margin-bottom: -2em;
  }
}

@media (max-width: 500px) {

  .item_modal_description{
    font-size: 1em;
  }

  .item_modal_price {
    font-size: 1.2em;
    max-width: 100%;
  }

}

@media (max-width: 420px) {

  .item_modal_title{
    font-size: 1.6em;
  }

  .item_modal_price {
    font-size: 1.2em;
    max-width: 100%;
  }

  .size_modal_header {
    flex-direction: column;
    align-items: stretch;
    width: 70%;
    text-align: left;
  }

  .size_modal_title,
  .size_modal_table {
    width: 100%;
  }

  .size_modal_table{
    margin-left: 0;
    margin-bottom: 1rem;
    margin-right: 0;
  }
}