.content {
  top: 50%;
  left: 50%;
  width: 25%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.size_modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.size_modal_title {
  text-align: center;
  flex-grow: 1;
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.size_modal_table{
  cursor:pointer;

  .size_modal_table:hover{
    color: #5ec3dc;
    transition: color ease-in-out .15s;
  }
}

.item_modal_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.size_button_close{
  cursor: pointer;
  margin-top: -75px;
}

.size_modal_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.size_buttons_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
}

.size_button_wrapper {
  display: flex;
  align-self: flex-start;
}

.size_button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  min-width: 80px;
  &.selected {
    border: 2px solid #fdab9b;
  }
}

.size_quantity {
  margin-left: 5px;
  margin-top: -15px;
  font-size: 0.9em;
  text-align: left;
}

.size_modal_description{
  margin-left: 5px;
  margin-bottom: -4px;
  font-size: 0.9em;
}

.button_row {
  display: flex;
  justify-content: center;
}

.size_modal_btn_bottom {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.size_cart_btn_active,
.item_cart_btn_disabled,
.item_cart_btn_cancel,{
  margin: 0 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  flex-grow: 1;
}

.size_cart_btn_active {
  background-color: #fdab9b;
  color: white;
}

.item_cart_btn_disabled {
  background-color: #cccccc;
  color: #757575;
  cursor: not-allowed;
}

.item_cart_btn_cancel{
  background-color: #cccccc;
  color: #484848;
}

@media (max-width: 768px) {

  .size_button {
    width: 100%;
    text-align: center;
  }

  .size_modal_btn_bottom {
    flex-direction: column;
    align-items: stretch;
  }

  .size_cart_btn_active,
  .item_cart_btn_disabled,
  .item_cart_btn_cancel {
    width: 100%;
    margin: 5px 0;
  }
}
