.Search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  p{
    opacity: 0.8;
  }

  .Search_bar {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    width: 407px;
    height: 36px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0 4px 16px rgba(26, 31, 22, 0.15);
    border-radius: 13px;
  }
}
